<!-- <h2>My Tours</h2>
<ul class="tours">
  <li *ngFor="let tour of tours"
    [class.selected]="tour === selectedHero"
    (click)="onSelect(tour)">
    <span class="badge">{{tour.id}}</span> {{tour.name}}
  </li>
</ul> -->
 
<h2>My Tours</h2>

<!--<nav>
    <a routerLink="/dashboard">Dashboard</a>
</nav>
<router-outlet></router-outlet>-->
<!--
<div>
  <label>Tour name:
    <input #tourName />
  </label>
  <button (click)="add(tourName.value); tourName.value=''">
    add
  </button>
</div>
-->   

<ul class="tours">
  <li *ngFor="let tour of tours">
    <a routerLink="/detail/{{tour.tourID}}">
      <span class="badge">{{tour.tourName}}</span>Author: {{tour.creatorName}}
    </a>
    <button class="delete" title="delete tour"
    (click)="delete(tour)">x</button>
  </li>
</ul>
<!--<a [routerLink]="['/team', projectID, {projectTeam: true}]">Teampage</a> -->