<h2>{{ tour.name | uppercase }}'s exhibits</h2>

<div *ngIf="exhibits">
  <ul class="exhibits">
    <li *ngFor="let exhibit of exhibits"
    [class.selected]="exhibit === selectedExhibit"
    (click)="onSelect(exhibit)">
      <a routerLink="/detail/{{exhibit.id}}">
        <span class="badge">{{exhibit.id}}</span> {{exhibit._name}}
      </a>
      <button class="delete" title="delete exhibit"
      (click)="delete(exhibit)">x</button>
    </li>
  </ul>
</div>

<app-exhibit-edit [exhibit]="selectedExhibit"></app-exhibit-edit>

<button (click)="save()">save</button>
<button (click)="goBack()">go back</button>